@media (max-width: 1026px) {
  .responsive-search {
    max-width: 496px;
    min-width: 100px;
  }

  .nav-search {
    max-width: 280px;
    min-width: 100px;
    width: 100%;
  }

  .nav-bar {
    width: 408px;
    min-width: 408px;
  }

  .nav-item, .nav-item:nth-child(7) {
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;
    height: 100%;
    width: 44px;
    min-width: 44px;
  }

  .nav-item > span, .nav-text {
    display: none;
  }
}

@media (min-width: 1188px) {
  .container {
    margin: 52px auto 0 auto;
  }
}

@media (min-width: 961px) {
  div.left-rail, div.right-rail {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 64px;
  }

}

@media (max-width: 360px) {
  .App-header {
    background-color: #0084bf;
    height: 250px;
    padding: 0px;
  }

  .container {
    margin-top: 250px;
  }

  .App-header, .App, .container {
    width: 100%;
  }

  .nav-main {
    display: block;
    margin: 0px;
    max-width: none;
  }

  .nav-bar {
    height: 50%;
    width: 100%;
    /* max-width: inherit;
    min-width: inherit; */
  }

  .nav-item {
    width: 20%;
  }

  .nav-icon {
    height: 72px;
    width: 72px;
  }

  .nav-icon-img {
    height: 64px;
    width: 64px;
  }

  .responsive-search {
    max-width: 496px;
    min-width: 100px;
  }

  .nav-item:nth-child(6), .nav-item:nth-child(7), .nav-main-logo, .nav-item-premium, .responsive-search {
    display: none;
  }

}
