@media (max-width: 1026px) {
  .responsive-search {
    max-width: 496px;
    min-width: 100px;
  }

  .nav-search {
    max-width: 280px;
    min-width: 100px;
    width: 100%;
  }

  .nav-bar {
    width: 408px;
    min-width: 408px;
  }

  .nav-item, .nav-item:nth-child(7) {
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;
    height: 100%;
    width: 44px;
    min-width: 44px;
  }

  .nav-item > span, .nav-text {
    display: none;
  }
}

@media (min-width: 1188px) {
  .container {
    margin: 52px auto 0 auto;
  }
}

@media (min-width: 961px) {
  div.left-rail, div.right-rail {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 64px;
  }

}
