@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: rgb(243, 243, 243);
  margin: 0px;
}

/*********************************************/
/*________________HEADER_____________________*/
/*********************************************/
.App-header {
  box-sizing: border-box;
  height: 52px;
  width: 100%;
  background-color: rgb(35, 54, 65);
  padding: 0 30px;
}

.nav-main {
  display: flex;
  align-items: center;
  height: inherit;
  /* setting a max to viewport */
  max-width: 1128px;
  margin: 0 auto;
}

/* LOGO */
.nav-main-logo {
  display: flex;
  align-items: center;
  height: 46px;
  width: 46px;
  /* logo can not go below 46px */
  min-width: 46px;
}

.nav-main-logo > img {
  cursor: pointer;
  height: 34px;
  width: 34px;
  border-radius: 2px;
  transition: 0.3s;
}

.nav-main-logo > img:active {
 transform: scale(0.9);
}
/*-------------------*/
/* SEARCH BAR */
.responsive-search {
  /* setting width to 100% keeps its width between:
   * 295px (minimum) from remaining width
   * 406px (maximum)
   */
  width: 100%;
  max-width: 406px;
  margin-right: 16px;
}

.nav-search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #e1e9ee;
  border-radius: 2px;
  height: 34px;
  width: 280px;
  min-width: 280px;
  padding-right: 8px;
}

.nav-search > img {
  height: 12px;
  width: 12px;
  margin-left: 10px;
  margin-right: 6px;
}

.search {
  color: rgba(40,62,74,.75);
  background-color: #e1e9ee;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.75;
  width: 100%;
}

.search:focus {
  outline: none;
}
/*-------------------*/
/* NAV BAR */
.nav-bar {
  /* background-color: red; */
  display: flex;
  color: #c7d1d8;
  font-weight: 400;
  line-height: 1.4;
  height: 100%;
  width: 660px;
  min-width: 660px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  height: calc(100% - 8px);
  width: 80px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover {
  color: #fff;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.nav-icon-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  transition: 0.3s;
}

.nav-icon-img:active {
  transform: scale(0.9);
}
/*-------------------*/


/*********************************************/
/*________________HERO CONTAINER_____________*/
/*********************************************/
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 1259px;
  width: 100vw;
}

/*********************************************/
/*________________HERO CARD__________________*/
/*********************************************/
.hero-card {
  position: relative;
  width: 176px;
  height: 284px;
  margin-top: 5%;
  /* margin-bottom: auto; */
  border-style: solid;
  border-width: thin;
  border-color: rgb(217, 217, 217);
  text-align: center;
  background-color: white;
}

.hero-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-background {
  height: 20%;
  background-size: contain;
  background-image: url("https://miro.medium.com/max/1400/1*92adf06PCF91kCYu1nPLQg.jpeg");
}

.hero-avatar {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 36px;
  height: 104px;
  width: 104px;
  border-radius: 50%;
  background-size: contain;
  cursor: pointer;
}

.hero-info {
  height: 80%;
}

.hero-info > p.hero-name {
  padding-top: 76px;
  font-size: 16px;
  color: rgba(0, 0 , 0, 0.9);
  background-color: white;
}

.hero-info > p.hero-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hero-info > p.hero-occupation {
  padding-top: 8px;
  padding-bottom: 28px;
  font-size: 14px;
  color: rgba(0, 0 , 0, 0.6);
}

.hero-affiliation {
  display: flex;
  padding-left: 12px;
}

.affiliation-img {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4jqVu1zgxY9N-JuySvPsSIPnROSnY-QuOlpVKlFA_gImRvk6y");
}

.affiliation-text {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.hire-btn {
  padding: 6px 12px;
  margin-top: 8px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 16px;
  color: rgb(0, 105, 168);
  border-style: solid;
  border-width: thin;
  border-color: rgb(0, 105, 168);
  cursor: pointer;
}

.hire-btn:hover {
  background-color: rgba(226, 244, 252, 0.5);
  border-width: 1.5px;
}
