@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: rgb(243, 243, 243);
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  width: calc(100vw - 60px);
  overflow: auto;
}

/*********************************************/
/*________________HEADER_____________________*/
/*********************************************/
.App-header {
  box-sizing: border-box;
  height: 52px;
  width: 100%;
  background-color: rgb(35, 54, 65);
  padding: 0 30px;
}

.nav-main {
  display: flex;
  align-items: center;
  height: inherit;
  /* setting a max to viewport */
  max-width: 1128px;
  margin: 0 auto;
}

/* LOGO */
.nav-main-logo {
  display: flex;
  align-items: center;
  height: 46px;
  width: 46px;
  /* logo can not go below 46px */
  min-width: 46px;
}

.nav-main-logo > img {
  cursor: pointer;
  height: 34px;
  width: 34px;
  border-radius: 2px;
  transition: 0.167s;
}

.nav-main-logo > img:active {
 transform: scale(0.9);
}
/*******************************************/
/* SEARCH BAR */
.responsive-search {
  /* setting width to 100% keeps its width between:
   * 295px (minimum) from remaining width
   * 406px (maximum)
   */
  width: 100%;
  max-width: 406px;
  margin-right: 16px;
}

.nav-search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #e1e9ee;
  border-radius: 2px;
  height: 34px;
  width: 280px;
  min-width: 280px;
  padding-right: 8px;
}

.nav-search > img {
  height: 12px;
  width: 12px;
  margin-left: 10px;
  margin-right: 6px;
}

.search {
  color: rgba(40,62,74,.75);
  background-color: #e1e9ee;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.75;
  width: 100%;
}

.search:focus {
  outline: none;
}
/*******************************************/
/* NAV BAR */
.nav-bar {
  /* background-color: red; */
  display: flex;
  color: #c7d1d8;
  font-weight: 400;
  line-height: 1.4;
  height: 100%;
  width: 660px;
  min-width: 660px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  height: calc(100% - 8px);
  width: 80px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.167s;
}

.nav-item:nth-child(7) {
  border-left: #5c6f7c solid 1px;
  margin-top: 0px;
  padding-top: 8px;
  width: 79px;
}

.nav-item:hover {
  color: #fff;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.nav-icon-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  transition: 0.167s;
}

.nav-item:active .nav-icon-img, .nav-user-icon {
  transform: scale(0.9);
}

.nav-user-icon {
  background-image: url('https://vignette.wikia.nocookie.net/bokunoheroacademia/images/a/a3/All_Might_Two_Heroes_Portrait_2.png/revision/latest/?cb=20190211163633');
  background-size: cover;
  border-radius: 50%;
  border: 1px solid white;
  height: 22px;
  width: 22px;
  transition: 0.167s;
}

.nav-text {
  display: flex;
  align-items: center;
}

.nav-text > img {
  height: 4px;
  width: 8px;
  margin-left: 6px;
  transition: 1s;
}

.nav-item-premium {
  display: flex;
  align-items: center;
  color: #dccea4;
  font-weight: 400;
  font-size: 12px;
  margin: 4px 0;
  height: calc(100% - 8px);
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.nav-item-premium:hover {
  text-decoration: underline;
}
/*-------------------*/

/*********************************************/
/*________________AD BAR_____________________*/
/*********************************************/
.ad-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 15px;
  width: 100%;
  height: 17px;
  padding: 16px 0;
}

#link-text {
  cursor: pointer;
}

#link-text:hover {
  text-decoration: underline;
}

#headline-link {
  color: #0084bf;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  line-height: 16px;
}

#description-link {
  color: #434649;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  line-height: 16px;
}

#ad-text {
  font-size: 13px;
  color: rgba(0,0,0,0.55);
  line-height: 16px;
  margin-left: 2px;
  min-width: 24px;
  text-align: right;
}


/*********************************************/
/*________________LAYOUT CONTAINER____________*/
/*********************************************/
.layout-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Left Rail */
.left-rail {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  height: 476px;
  width: 216px;
  min-width: 216px;
}
/*******************************************/
/* Core Rail */
.core-rail {
  height: 762px;
  width: 552px;
  margin-left: 25px;
  margin-right: -1px;
}

.core-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.15);
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  height: 41px;
  width: 552px;
  padding: 8px 8px 8px 20px;
}

#core-invitations {
  color: rgba(0,0,0,.9);
  font-weight: 400;
  width: 454px;
}

#core-btn {
  color: rgba(0,0,0,.6);
  font-weight: 600;
  font-size: 14px;
  /* height: 24px; */
  padding: 4px 8px;
  cursor: pointer;
}

#core-btn:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 2px;
}

#core-btn:active {
  background-color: rgba(207,207,207,.45);
  outline: #98d8f4 solid 2px;
}
/*******************************************/
/* Right Rail */
.right-rail {
  height: 423px;
  width: 312px;
  min-width: 312px;
  margin-left: 25px;
  margin-bottom: 24px;
}

.promotion-banner {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  height: 262px;
  padding: 6px 6px;
}

.right-rail > footer {
  box-sizing: border-box;
  border-top: 1px solid #b3b6b9;
  margin-top: 16px;
  height: 129px;
}

.footer-links {
  font-size: 12px;
  height: 72px;
  margin: 16px 0;
}

.row {
  display: flex;
  justify-content: center;
}

.row > li {
  display: inline-flex;
  align-items: center;
  color: #485d69;
  height: 24px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
  margin-left: 24px;
}

.row > li:hover {
  color: #0073b1;
  cursor: pointer;
}

.row > li > img {
  margin-left: 4.8px;
  height: 4.8px;
  width: 11.2px;
}
/*******************************************/


/*********************************************/
/*________________HERO CONTAINER_____________*/
/*********************************************/
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 1259px;
  width: 100%;
}

/*********************************************/
/*________________HERO CARD__________________*/
/*********************************************/
.hero-card {
  position: relative;
  width: 176px;
  height: 284px;
  margin-top: 5%;
  /* margin-bottom: auto; */
  border-style: solid;
  border-width: thin;
  border-color: rgb(217, 217, 217);
  text-align: center;
  background-color: white;
}

.hero-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-background {
  height: 20%;
  background-size: contain;
  background-image: url("https://miro.medium.com/max/1400/1*92adf06PCF91kCYu1nPLQg.jpeg");
}

.hero-avatar {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 36px;
  height: 104px;
  width: 104px;
  border-radius: 50%;
  background-size: contain;
  cursor: pointer;
}

.hero-info {
  height: 80%;
}

.hero-info > p.hero-name {
  padding-top: 76px;
  font-size: 16px;
  color: rgba(0, 0 , 0, 0.9);
  background-color: white;
}

.hero-info > p.hero-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hero-info > p.hero-occupation {
  padding-top: 8px;
  padding-bottom: 28px;
  font-size: 14px;
  color: rgba(0, 0 , 0, 0.6);
}

.hero-affiliation {
  display: flex;
  padding-left: 12px;
}

.affiliation-img {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4jqVu1zgxY9N-JuySvPsSIPnROSnY-QuOlpVKlFA_gImRvk6y");
}

.affiliation-text {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.hire-btn {
  padding: 6px 12px;
  margin-top: 8px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 16px;
  color: rgb(0, 105, 168);
  border-style: solid;
  border-width: thin;
  border-color: rgb(0, 105, 168);
  cursor: pointer;
}

.hire-btn:hover {
  background-color: rgba(226, 244, 252, 0.5);
  border-width: 1.5px;
}
